<div class="boxes">
  <div class="box">
    <h2>Къде съм?</h2>
    <p>
      Добре дошли в системата за кандидатстване в
      <strong>Националната природо-математическа гимназия "Акад. Л. Чакалов"</strong> след седми клас.
    </p>
  </div>
  <% if user_signed_in? %>
    <div class="box">
      <%= link_to("Влезте в панела, за да регистрирате учениците си", rails_admin_path) %>
    </div>
  <% else %>
    <div class="box">
      <%= link_to("Влезте", new_user_session_path) %> или <%= link_to("се регистрирайте", new_user_registration_path) %>
    </div>
    <% end %>
</div>