<div class="boxes">
  <div class="box">
     <h2>Къде съм?</h2>
     <p>
     Добре дошли в системата за кандидатстване в <strong>Националната природо-математическа гимназия "Акад. Л. Чакалов"</strong> след седми клас.
     </p>
  </div>

</div>
