# Dev tools
*.iml
.idea/
# Application Files
.bundle
db/*.sqlite3
config/database.yml
config/storage.yml
ENV=production/
public/javascripts/ckeditor/
test/
tmp/
.sass-cache/

public/assets
.rspec
storage/
log/
coverage/
.yardoc/
