<%= f.link_to_remove '<span class="btn btn-small btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe %>
<span style="display:none" class="object-infos" data-model-label="Файл" data-object-label="<%= f.object.id.nil? ? 'Файл (нов)' : 'Файл' %>"></span>
<fieldset>
  <legend style="display:none"><i class="icon-chevron-down"></i> Информация</legend>
    <%= render :partial => 'form_file_field', :locals => {:f => f, :object => f.object, :field => :file, :lab => t('activerecord.attributes.asset.file')} %>
    <%= render :partial => 'form_text_field', :locals => {:f => f, :object => f.object, :field => :description, :lab => t('activerecord.attributes.asset.description')} %>
</fieldset>