<fieldset>
  <legend style=""><i class="icon-chevron-down"></i> Указания</legend>
  <div class="control-group">
    <ul>
      <li>
        Попълнете внимателно вашите данни на <strong>крилица</strong>!
      </li>
      <li>
        Прикачете сканираната първата страница на бележника.
      </li>
      <li>
        Добавете изпитите, на които желаете да се явите. Ако имате участие на <strong>състезание</strong>, къде точките ви се приемат като оценка от изпит, изберете първо <strong>състезанието от падащото меню</strong>, а след това въведете и самите <strong>точки</strong>. В случай, че състезанието не присъства в менюто, то резултатът не може да бъде използван за кандидатстването в <strong>НПМГ</strong>.
      </li>
      <li>
        Ако нямате оценка от състезание, отменете полето <strong>Ще се яви</strong>.
      </li>
      <li>
        Ако имате оценка от изпит, прикачете <strong>документ, с който да удостоверите</strong> това.
      </li>
    </ul>
  </div>
</fieldset>