<div class="boxes">
  <div class="box semi-full">
    <%= nested_form_for @applicant, :html => {:class => "form-horizontal denser", :multipart => true} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
  <div class="box form-horizontal denser">
    <%= render :partial => 'reviews', :locals => {:reviews => @applicant.reviews.reverse} %>
    <%= render :partial => 'guides_right' %>
  </div>
</div>
