<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Регистрацията Ви е потвърдена</h2>
      <h3>Какво следва?</h3>
      <h4>Регистрирайте своите ученици <%= link_to "тук", students_path %></h4>
      <p>След като регистрирате учениците си очаквайте потвърджение на техните данни.</p>
      <p>Като потвърдим данните им ще получите на e-mail служебна бележка със стаите, в които е настанен всеки
        ученик.</p>
      <p>Може да генерирате служебна бележка и от странницата с данни на ученика <%= link_to "тук", students_path %>
        .</p>
    </div>
  </div>
</div>
