<div class="container">

  <div class="row">
    <div class="col-12">
      <h2>Потвърдете регистрацията си</h2>
      <h3>Какво следва?</h3>
      <p>Трябва да потвърдите регистрацията си.
        Трябва да сте получили e-mail с линк за потвърждение.</p>
      <p>След успешно потвърджение на регистрацията Ви ще можете да добавите своите ученици.</p>
    </div>
  </div>
</div>
