<div id="contentMainNew">
  <ul style="margin-left: 20px;">
    <% @errors.each do |error| %>
        <li>Грешка при въвеждане на запис с горна граница <strong><%= error[1] %></strong>, при изпит <strong><%= error[0] %></strong> и оценка <strong><%= error[2] %></strong>.</li>
    <% end %>
  </ul>
</div>
