        <div id="contentHeader">
          <h2><%= @page_name %></h2>
        </div>
<%= render(:partial => 'layouts/rails_admin/flash', :locals => {:flash => flash}) -%>
        <div id="contentMain">
         
        </div>
