<p>Здравейте!</p>

<p>Регистрацията на <%= @student.full_name %> е одобрена.</p>

<p>За повече информация влезте в системата <%= link_to 'тук', student_url(@student.id) %>.</p>

<p>Поздрави,<br/>
  <%= @approver.full_name %><br/>
  <%= @approver.title || "" %></p>
